body {
    display: flex;
    height: 100vh;
    background: #220404;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }
  
  #title {
    font-size: 1.2rem;
    font-family: "Noto Serif", serif;
    color: #b37c27;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1rem;
    text-align: center;
  }
  
  #canvas {
    display: block;
    margin: 0 auto -500px;
    filter: url("#blur") blur(1.5px);
    opacity: 0.9;
  }
  #canvas::before {
    content: "text";
  }
  
  #candle {
    display: block;
    margin: 0 auto 30px;
    width: 550px;
    height: auto;
  }
  
  #filter {
    position: fixed;
  }